@import "../../../../resources/theme";
$photoSize: 250px;

:host {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  min-height: $photoSize;
  min-width: $photoSize;
}

od-virtualscroll {
  flex: 1 1 0;
  min-height: $photoSize;
  min-width: $photoSize;
  overflow-x: hidden;
}

.image-wrp {
  box-sizing: border-box;
  display: inline-block;
  height: $photoSize;
  margin-right: -5px;
  position: relative;
  width: $photoSize;

  img {
    height: $photoSize;
    object-fit: cover;
    width: $photoSize;
  }
}

/deep/ .od-scroll-container {
  margin: 0 auto;
}

div.message {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


md-icon {
  color: mat-color($primary);
  height: 200px;
  width: 200px;
  font-size: 200px;
  object-fit: cover;
  margin-bottom: 0;
}
