<md-card class="controls">
  <md-card-content>
    <button md-button class="controls-button" (click)="browseSource()">
      <div class="button-content">
        <md-icon class="button-icon">navigate_before</md-icon>
        <div class="button-text">
          <div class="button-line">
            Source:
          </div>
          <div class="button-sub-line" *ngIf="!uploadSource">
            Source of your photos
          </div>
          <div class="button-sub-line" *ngIf="uploadSource">
            {{uploadSource.name}}
          </div>
        </div>
      </div>
    </button>
    <button md-button class="controls-button" (click)="browseDestination()">
      <div class="button-content">
        <md-icon class="button-icon">navigate_next</md-icon>
        <div class="button-text">
          <div class="button-line">
            Destination:
          </div>
          <div class="button-sub-line" *ngIf="!uploadDestination">
            Where to upload your photos
          </div>
          <div class="button-sub-line" *ngIf="uploadDestination">
            {{uploadDestination.name}}
          </div>
        </div>
      </div>
    </button>
    <div class="settings">
      <app-photo-upload-configs [configs]="uploadConfigs"></app-photo-upload-configs>
      <md-checkbox [(ngModel)]="uploadConfigs.copyDescription" color="primary">Copy description</md-checkbox>
    </div>
  </md-card-content>

  <md-card-actions>
    <button md-button (click)="start()"
            [disabled]="!uploadConfigs.valid || !uploadSource || !uploadDestination || !loadedViewPhotos || loadedViewPhotos.length < 1">
      <md-icon>file_upload</md-icon>
      <span *ngIf="!uploadDestination">
        Upload
      </span>
      <span *ngIf="uploadDestination">
          Upload to {{providerNames[uploadDestination.provider]}}
      </span>

    </button>
  </md-card-actions>
</md-card>

<md-card class="scroller">
  <app-photo-scroller [data]="loadedViewPhotos" [photoSource]="uploadSource"></app-photo-scroller>
</md-card>
