<form #uploadRange="ngForm" class="configs-from">
  <md-input-container class="configs-item">
    <input mdInput type="number" required
           name="from" placeholder="Upload from"
           min="1" [max]="localForm.to"
           [(ngModel)]="localForm.from" #from="ngModel">
  </md-input-container>
  <md-input-container class="configs-item">
    <input mdInput type="number" required
           name="to" placeholder="Upload to"
           [(ngModel)]="localForm.to" #to="ngModel">
    <md-hint align="end"></md-hint>
  </md-input-container>
</form>
